[airplay]
# name for AirPlay service
name = "BimmerTunes"

[wifi]
# ssid to use for internal wifi
ssid = "BimmerTunes"

# password to use for internal wifi. If set, WPA2 will be used.
# If set to false network will be unsecured
password = "bimmertunes"

[ibus]
# set this to true for bench testing, to simulate an IKE on the bus
ike_broadcast = false

# choose what kind of display for song text, choices are:
# wide_nav - 16x9 nav screen with MKIV navigation system
# nav - 4x3 nav screen with MKIII navigation system
# radio - CD53 or similar radio with internal MFD
display_type = "wide_nav"

# device to use for serial IBus communication.
serial_port = "/dev/ttyS001"



